<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kewen.framework.extension.sysrequest.SysRequestLogMapper">


    <select id="todayIpCount" resultType="java.lang.Integer">
        select count(1) from (
        select distinct  ip_address from sys_request_log where create_time between current_date and (current_date + interval 1 day)
        ) t_temp
    </select>

</mapper>
